<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="question2.css">
    <title>Document</title>
</head>
<body>

    <header>
        <nav id="navbar">
            <div class="container"> <!-- div.container sert a contenir un block car il va y avoir plusieur div le mot container c est le nom de la class-->
        
          <ul>
            <li><a href="question2.html" style="color: red; background: black; padding: 10px;">Léa</a></li>
            <li><a href="question2.html">Mio</a></li>
            <li><a href="question2.html">Omnivox</a></li>
            <li><a href="question2.html">420-112</a></li>
          </ul>
        </div>
        </nav>
    </header>

    <div class="image">
        
     </div>











































    
</body>
</html>