<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="question1.css">

    <title>Document</title>
</head>
<body>

<form action="question1.html" method="post">
    <h1 class="header">Remplir le Formulaire</h1> <br><br><br>
    <!--  placeholder sert a mettre une text dans l espace vide qui s efface quand t ecrit -->
        <div class="case">
            <label for="firstname"><span style="color: red;">F</span>irst <span>N</span>ame: <span>*</span></label><br>
        <input type="text" name="firstName">
    </div>
    
        <div class="case"><label for="lastname"><span>L</span>ast <span>N</span>ame: <span>*</span></label><br>
            <input type="text" name="lastName">
            
        </div>
            
            <div class="case">
            <label for="nickname"><span>N</span>ick <span>N</span>ame: <span>*</span></label><br>
                    <input type="text" name="nickname">
            </div><br><br><br>
            <div class="checkbox1">
                <input type="checkbox" name="color1" value="red" />  <span class="color_coche">C</span>ocher <span class="color_coche">P</span>our <span class="color_coche">V</span>oter
              </div>
              <div class="checkbox1">
                <input type="checkbox" name="color2" value="green" /> <span class="color_coche">C</span>ocher <span class="color_coche">P</span>our <span class="color_coche">V</span>oter
              </div>
              <br><br><br>
              <div class="case2">
                <label for="email"><span class="color_bleu">E</span>mail: <span class="color_bleu">*</span></label><br>
                    <input type="email" name="email" />
                </div>

            <div class="case2">
                <label for="password"><span  class="color_bleu">P</span>assword: <span  class="color_bleu">*</span></label><br>
                    <input type="password" name="password" />
                </div>

                <div class="case2">
                    <label for="nip"><span class="color_bleu">N</span>ip: <span class="color_bleu">*</span></label><br>
                    <input type="password" name="password" />
                    </div>
                <br> <br><br><br>
                <!--  le type checkbox te permet de choisir plusieurs réponse a la fois -->
                <div class="checkbox2">
                    <input type="checkbox" name="color1" value="red" /> <span class="color_coche">C</span>ocher <span class="color_coche">P</span>our <span class="color_coche">V</span>oter
                  </div>
                  <div class="checkbox2">
                    <input type="checkbox" name="color2" value="green" /><span class="color_coche">C</span>ocher <span class="color_coche">P</span>our <span class="color_coche">V</span>oter
                  </div> <br><br>
                  <div class="submit">
                
                    <button type="submit">Soumettre</button>
                </div>
                <div class="submit">
                <button type="submit" class="annuler">Annuler</button></div>
                </form>

















    
</body>
</html>